name: Typescript

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Run TypeScript type check
        run: npm run type-check
